In [63]:
import pandas as pd
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import create_engine

In [64]:
data_path_cursos = "2022_cursos_historico.csv"
data_path_examenes = "examenes.csv"
data_path_requisitos = "requisitos.csv"
data_path_reglas = "reglas.csv"
data_path_areas = "areas.csv"
data_path_programas = "programas.csv"
data_path_departamentos = "departamentos.csv"

In [65]:
df_cursos = pd.read_csv(data_path_cursos, sep=';')
df_examenes = pd.read_csv(data_path_examenes, sep=';')
df_requisitos = pd.read_csv(data_path_requisitos, sep=';')
df_reglas = pd.read_csv(data_path_reglas,sep=';')
df_areas = pd.read_csv(data_path_areas, sep=';')
df_programas = pd.read_csv(data_path_programas, sep=';')
df_departamentos = pd.read_csv(data_path_departamentos, sep=';')
df_cursos.shape

(36006, 6)

In [66]:
df_cursos.sample(10)

,MATERIA,CURSO,NIVEL,DEPARTAMENTO,NOMBRE,CREDITOS
19192,ICYA,4449,POST,ICYA,DISE - BASICO DE ACERO,4.0
2161,ARQU,112,PREG,ARQU,CINE CIUDAD LITERATURA,3.0
19504,IELE,2000,PREG,IELE,ANÁLISIS Y SÍNTESIS CIRCUITOS,1.0
11848,ECON,3752,PREG,ECON,TOPICOS MACROECONOMIA DINAMICA,3.0
18339,ICIV,350,PREG,ICIV,CONSTRUCCION,3.0
21598,IMEC,354,PREG,IMEC,DISELMEC,3.0
24803,LENG,3157,PREG,LCUL,TEXTS AND CONTEXTS,3.0
10876,DISO,3516,PREG,DISE,ELE: HERRAMIENTAS ETNOGRÁFICAS,2.0
712,ADMI,3991,PREG,ADMI,PRACTICA EMPRESARIAL,6.0
18024,IBIO,2570,PREG,IBIO,PI -IDEAS DE NEGOCIO,3.0

In [67]:
df_cursos.isnull().sum().sort_values()

MATERIA         0
CURSO           0
NIVEL           0
DEPARTAMENTO    0
NOMBRE          0
CREDITOS        0
dtype: int64

In [68]:
df_cursos.dtypes

MATERIA          object
CURSO            object
NIVEL            object
DEPARTAMENTO     object
NOMBRE           object
CREDITOS        float64
dtype: object

In [69]:
df_copy = df_cursos.copy()
departamentos = (df_departamentos.loc[:,'nombre']).values

In [70]:

df_copy['NOMBRE'] = df_copy['NOMBRE'].apply(lambda x: x.capitalize())
df_copy = df_copy.drop(['NIVEL'], axis=1)
df_copy.columns = ['sigla', 'codigo','departamento', 'nombre', 'creditos']
df_copy['es_epsilon'] = False
df_copy['es_tipo_e'] = False
print(df_copy.shape)
df_copy.sample(10)

(36006, 7)

,sigla,codigo,departamento,nombre,creditos,es_epsilon,es_tipo_e
1832,ANTR,4882,ANTR,Diseño arqueologia 2,3.0,False,False
11630,ECON,3602,ECON,Memoria de grado,4.0,False,False
32215,MUIJ,3539,MUSI,Guitarra eléctrica compl 7,1.0,False,False
7558,CPOL,2350,CPOL,La memoria hist. en colombia,3.0,False,False
12415,EDUC,1033,CIFE,Interculturalidad y proc educa,3.0,False,False
29664,MEDI,1603,MEDI,Estrategias para la salud,3.0,False,False
11126,DTEX,151,DISE,Tejeduria en telar horizontal,3.0,False,False
15108,FISI,1907,FISI,Astronomia planetaria,3.0,False,False
4272,BACT,353,BACT,Inmunologia ii,2.0,False,False
24508,LENG,2570,LCUL,Cultura prácticas y poder,3.0,False,False

In [71]:
df_copy = df_copy.drop_duplicates(['sigla','codigo'], keep='last')
print(df_copy.shape)

(26222, 7)

In [72]:
df_clean = df_copy[df_copy['sigla'].isin(departamentos)]
df_clean = df_clean[df_clean['departamento'].isin(departamentos)]
print(df_clean.shape)
df_clean.sample(10)

(20578, 7)

,sigla,codigo,departamento,nombre,creditos,es_epsilon,es_tipo_e
7795,CPOL,362,CPOL,Prob estrat y de seg mun,3.0,False,False
12106,ECON,4560,ECON,Econometría y apr. de maquinas,4.0,False,False
28399,MBAE,434,ADMI,Etica y resp social de las emp,2.5,False,False
34181,PSIC,3863,PSIC,Proble. infantiles-jueveniles,3.0,False,False
18188,IBIO,4601,IBIO,Learning machine learning,4.0,False,False
3610,ARTE,2136,ARTE,Fotografía y archivo,3.0,False,False
4425,BIOL,118,CBIO,Lab.biologia genera (ing),1.0,False,False
8351,DCOM,515,DERE,Sociedades,4.0,False,False
15264,FISI,331,FISI,Mecanica cuantica 2,3.0,False,False
33709,PSIC,1200,PSIC,Neuroanatomia,3.0,False,False

In [73]:
db = create_engine('postgresql://postgres:postgres@localhost:5432/pensumconfig')

df_clean.to_sql(
    'curso_entity',
    db,
    if_exists='append',
    index=False
)

578

In [74]:
df_examenes.to_sql(
    'examen_entity',
    db,
    if_exists='append',
    index=False
)

df_requisitos.to_sql(
    'requisito_entity',
    db,
    if_exists='append',
    index=False
)
df_reglas.to_sql(
    'regla_entity',
    db,
    if_exists='append',
    index=False
)
df_areas.to_sql(
    'area_entity',
    db,
    if_exists='append',
    index=False
)
df_programas.to_sql(
    'programa_entity',
    db,
    if_exists='append',
    index=False
)

df_departamentos.to_sql(
    'departamento_entity',
    db,
    if_exists='append',
    index=False
)

125